<select class="langbox" (change)="onLangSelected($event.target.value)">
    <option value="en">{{selectedLang}}</option>
    <option *ngFor="let language of supportedLangs" value={{language.code}}>{{language.name}}</option>  
</select>
<div #chatbox class="chatbox" ngx-auto-scroll lock-y-offset="80">
    <ng-container #messageContainer>
    
    </ng-container>
</div>
<div>
    <app-inputbox (translate)="pushMessage($event)"></app-inputbox> 
</div>



    