.chatbox{
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 540px;
}
.langbox{
    width: 100%;
    border-radius: 0px !important;
    border-style: none;
    border-width: 0px;
    background-color: #f0f0f0;
}
.langbox:focus{
    outline: none;
}

.langs-selector{
    display: flex;
}