div.message > div
{
    display: inline-block;
    width: 100%;
    padding: 5px;
    border-radius: 2px;
    position: relative;
    border-style: none;
    font-family: "Myriad pro","Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",sans-serif;
    font-size: 13px;
    line-height: normal;
    color: #515254;
    outline: none;
    margin-top: 0px;
}
.visitor_message
{
    background-color: #d8ebf4;
}
.visitor_message .writer_name{
    font-size: 13px;
    margin: 2px 0px 0;
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #61AECF;
}
.visitor_message .sending_time{
    font-size: 11px;
    float: right;
    margin: 5px 15px 5px 5px;
}
.agent_message
{
    background-color: none;
}

.agent_message .writer_name{
    font-size: 13px;
    margin: 2px 0px 0;
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #98999b;
}
.agent_message .sending_time{
    font-size: 11px;
    float: right;
    margin: 5px 15px 5px 5px;
    color: #98999b;
}

.container{
    
    background: #f0f0f0;

}
.input-container{
    z-index: 5;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.input-container text{
    min-height: 70px;
}

.right_message #message_label{
    text-align: right;
}