  
<div *ngIf="content" class="message">

    <div [ngClass]="{'visitor_message' : content.source == 'visitor',  'agent_message': content.source !== 'visitor'}">
        <label class="writer_name">{{content.source}} </label>
        <label class="sending_time"> {{content.fromLang}}/{{content.toLang}} - {{content.time}}</label>
        <p>{{content.text}}</p>
    </div>
    
</div>



