.input-box{
    position: fixed;
    bottom: 0px;
    width: 101%;
}
.input-box [class^="col-lg"]{
    padding: 0px;
}

.input-box textarea{
    width: 90%;
    float: left;
    border-right: 1px;
    border-style: solid;
    border-color: gainsboro;
    resize: none;
    border-bottom: 0px;
}
.input-box textarea:focus{
    outline: none;
}
.input-box button{
    height: 50px;
    border-left: 0;
    border-style: solid;
    cursor: pointer;
    width: 10%;
    border-bottom: 0px;
}

.input-box button:focus{
    outline: none;
}
.chat-input-box-icon{
    position: absolute;
    background: url(/assets/imgs/22x22-sprite-embedded.png?bust=803605796420) -560px -40px no-repeat;
    width: 17px;
    height: 22px;
    top: calc(50% - 11px);
    top: -webkit-calc(50% - 11px);
    right: 10px
}