
<div class="input-box">
    <textarea [(ngModel)]="message.text" name="text" (keyup)="$event.code == 'Enter' ? sendMessage($event) : ''"></textarea>
    <button type="button" [disabled]="!message.text" (click)="sendMessage($event)"><i class="chat-input-box-icon"></i></button>
</div>
